body {
  margin: 0;
  /*border: 2px solid blue;*/
  min-height: 100vh;
  font-family: Economica;
}

.fas {
  pointer-events: none;
}

.patience {
  display: none;
}

.btn-row {
  height: 86.875px;
}

.calc-btn {
  border: 1px solid black;
  border-radius: 0;
  box-shadow: none !important;
}

.non-icon {
  font-size: 30px;
}

#root {
  /*border: 2px solid red;*/
  min-height: inherit;
}

#calc-bg {
  /*border: 2px solid orange;*/
  background: url(https://s3-sa-east-1.amazonaws.com/myhostedfiles.raulf/Images/design+patterns/Math-pattern-operators.png);
  min-height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

#calc-body {
  border: 3px solid;
  border-radius: 5px;
  height: 550px;
  width: 412.5px;
}

#outer-display {
  background-color: white;
  border-radius: 3px 3px 0 0;
  height: 110px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

#display {
  font-size: 55px;
  margin: 0 7px 0 0;
  height: 70px;
}

#secondary-display {
  font-size: 25px;
  margin: 0 7px 0 0;
  height: 40px;
  overflow: auto;
}

#display-calculation {
  font-size: 25px;
  padding: 0;
  margin: 0;
}

#upper-buttons {
  border-style: solid hidden hidden hidden;
  border-width: 3px;
}

#digits-operators {
  background-color: black;
  height: 435px;
}

#lower-digits {
  padding: 0;
}

#zero {
  border-radius: 0 0 0 2px;
}

#equals {
  border-radius: 0 0 2px 0;
}

@media screen and (max-width: 850px) {
  .btn-row {
    height: 62.875px;
  }

  .non-icon {
    font-size: 20px;
  }

  #calc-body {
    height: 400px;
    width: 300px;
  }

  #outer-display {
    height: 80px;
  }

  #display {
    font-size: 40px;
    height: 55px;
  }

  #secondary-display {
    font-size: 15px;
    height: 30px;
  }

  #display-calculation {
    font-size: 15px;
  }

  #digits-operators {
    height: 315px;
  }
}
